<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script type="text/javascript" th:src="@{/css/javascript/DDisplay.js}"></script>-->
    <title>User List</title>
</head>

<body>
<h1>All Users</h1>
<table border="1">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Location</th>
        <th>Gender</th>
        <th>Password</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.Location}"></td>
        <td th:text="${user.Gender}"></td>
        <td th:text="${user.password}"></td>
        <!-- Add more columns as needed -->
    </tr>
    </tbody>
</table>
</body>
</html>
